services:
  
  database:
    image: "postgres:latest"
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db-data/:/var/lib/postgresql
  
  backend:
    build: ./backend
    ports:
      - 80:8000
    environment:
      DATABASE_URL: ${DATABASE_URL}
