:root{
    --bg-color: rgb(249, 246, 237);
    --bg-color-dark: rgb(36, 36, 36);
    --bg-color-light: rgb(233, 225, 194);
    --accent-color: rgb(131, 82, 33);
    --accent-color-light: rgb(146, 120, 95);
    --text-color: rgb(36, 36, 36);
    --text-color-inverted: rgb(222, 222, 222);
}